<section id="splash" class="home">    
    <h3 id="splash-quote">Full stack developer specializing in Ruby on Rails  development: <strong>Ruby, Rails, PostgreSQL, HTML, CSS, JavaScript</strong><h3>
</section>

<h2>Skills</h2>
<section id="skillSets" class="panel">
    <% @skill_sets.each do |skill_set| %>
        <%= link_to(skill_set_path(skill_set)) do %>
            <section class="skill-set">
                <h4><%= skill_set.name %></h4>
            </section>
        <% end %>
    <% end %>
</section>

<h2>Education</h2>
<section id="education" class="home">
    <h4>Bachelor of Science (Double Major) - Rochester Institute of Technology</h4>
    <p>Graduated: May 2019</p>
    <p>GPA - <strong>3.9</strong></p>
    <p>Honors and awards</p>
    <ul>
        <li>Honors Student</li>
        <li>Dean's List x7 (Term GPA > 3.5)</li>
        <li>Outstanding Undergraduate Scholar Award (awarded to top 5% of students)</li>
        <li>Langauge Science and Computational Linguistics Student Excellence Award</li>
        <li>Study Abroad - Nanjing, China, Spring 2018</li>
    </ul>
</section>

<h2>Projects</h2>
<section id="projects" class="panel">
    <% @projects.each do |project| %>
        <section class="projects">
            <%= link_to(project_path(project)) do %>
                <h3><%= project.name %></h3>
            <% end %>
            <p><%= project.description %></p>
            <% project.skills.each do |skill| %>
                <%= link_to(skill_path(skill)) do %>
                    <button class="skill-button"><%= skill.name %></button>
                <% end %>
            <% end %>
        </section>
    <% end %>
</section>

<h2>Work Experience</h2>
<section id="experience">
</section>