<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id="name">Leo Holman</h1>
    <nav>
      <%= link_to(root_path) do%>
        <button class='navbar'>Home</button>
      <% end %> |
      <%= link_to(skill_sets_path) do%>
        <button class='navbar'>Skills</button>
      <% end %> |
      <%= link_to(pages_resume_path) do%>
        <button class='navbar'>Resume</button>
      <% end %> |
      <%= link_to(pages_about_path) do%>
        <button class='navbar'>About</button>
      <% end %>
    </nav>
    <hr />
    <h1><%= @page_title %></h1>
    <%= yield %>
  </body>
</html>
